body{
	margin:0;
	padding:0;
	background-color: #F7EEC6;
  	font-family: sans-serif;
  	height: 100vh;
}
.area{
	width: 300px;
	position:absolute;
  	box-sizing:border-box;
  	background:rgba(0,0,0,0.2);
  	color:black;
  	position:absolute;
  	padding:40px; 
  	top:15%;
  	left:37%;
	right:20%;
  	border:1px solid black;
  	box-sizing: border-box;
	
}

.avatar{
	width:100px;
	height:100px;
	position: absolute;
	top:-13%;
	left:39%;
}
h1{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size:23px;

}

label{
	margin:0;
	padding:0;
	font-weight:bold;
	display: block;
}

.formulario__input {
	position: relative;
	width: 100%;
	background: white;
	border:none;
	border:3px solid transparent;
	border-radius: 3px;
	height: 30px;
	line-height: 45px;
	padding:0 0 0 15px;
	transition: .3s ease all;
}

.formulario__input:focus{
	border:3px solid #00589C;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

input[type=button]{
	border:none;
	outline:none;
	height:40px;
	background:#1e2dfc;
	color:white;
	font-size: 18px;
	border-radius: 20px;
	width: 170px;
}

input[type=button]:hover{
	background:#120fe6 ;
	cursor: pointer;
}

input[type=button]:active{
	background:#0651f3;
}

a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color:#00589C;
	font-weight:bold;
}

a:hover{
	color:#1671B8;
}

a:active{
	color:#0A7ED9;
}
select {
	height: 40px;
}