*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva;
}
.user-img{
    width: 70px;
    border-radius: 100px;
    border: 1px solid #eee;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 250px;
    background-color: #12171e;
    padding: 1rem;
    transition: transform 0.3s ease, width 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
  }
  .sidebar:hover {
    width: 250px; /* se expande al pasar el mouse */
  }

  .sidebar.collapsed {
    width: 80px;
  }

  .sidebar.collapsed:hover {
    width: 250px; /* se expande al pasar el mouse */
  }

  .sidebar .logo,
  .sidebar .user,
  .sidebar ul {
    transition: opacity 0.3s ease;
  }

  .sidebar.collapsed .logo p,
  .sidebar.collapsed .user p,
  .sidebar.collapsed ul span.nav-item {
    display: none;
    transition: 0.5s ease;
  }

  .sidebar.collapsed:hover .logo p,
.sidebar.collapsed:hover .user p,
.sidebar.collapsed:hover ul span.nav-item {

  display: flex; /* o inline, según lo que necesites */
}




  .sidebar .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
  }

  .sidebar ul {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    margin-bottom: 1rem;
  }

  .sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }

  .sidebar ul li a img {

    max-width: 24px;
    filter: brightness(0) invert(1);
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center; /* Por defecto centrado */
    justify-content: center;

    list-style: none;
    transition: all 0.3s ease; /* Para animar bonito */
  }


  .sidebar:hover ul {
    align-items: flex-start; /* En hover, los alineas a la izquierda */
  }
  



  /* Responsive Mobile */
  /* @media (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
    }
    .sidebar.active {
      transform: translateX(0);
    }
  } */

  .main-content {
    
    transition: margin-left 0.3s ease;
  }



  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }

.main-content{
    position: relative;
    background-color: #ffffff;
    max-height: 100vh;
    top: 0;
    left: 90px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 0.1rem;
}

.error{
    color: rgb(255, 12, 12);
    font-weight: bolder;
}





label{
    margin:0;
    padding:0;
    font-weight:bold;
    display: block;
}

.form{
    border:none;
    outline:none;
    position: absolute;
    height:40px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 70px;
    left: 90px;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}






.limitado1{
    width: 200px;
    max-width: 200px;
}


.table_button {
    border: none;
    background-color: #00796b;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}

.table_button:hover {
    background-color: #105e55;

}



.paginacion a:hover {
    background-color: rgb(35, 82, 223);
    transform: scale(1.1);
    color: white;
}

.seleccionado a {
    background-color: rgb(248, 5, 5);
    color: white;
}



tr:nth-child(even){
    background: #b6e0e5;
}

H4{
    color: red;
}

.no_style{
    border: none;
    background: #fff;
    border-bottom: #fff;
}

select {
    width: 100%;
    height: 30px;
}
.materias_container {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.lista {
    padding: 0.2rem;
    cursor: pointer;
    transition: .5s ease all;
}
.lista:nth-child(odd) {
    background-color: rgb(219, 219, 219);
}
/* No aplica fondo a los elementos pares */

.lista:hover {
    background-color: #058671;
    color: white;
}