*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva;
}
.user-img{
    width: 70px;
    border-radius: 100px;
    border: 1px solid #eee;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Ajustado para la altura total de la ventana */
    width: 95px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    overflow-y: auto; /* Habilita el scroll vertical */

    scrollbar-width: thin; /* Ancho del scrollbar (para Firefox) */
    scrollbar-color: #4e5d75 #2e3a4d; /* Colores del thumb y track (para Firefox) */
}
.sidebar::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #4e5d75; /* Color del thumb */
    border-radius: 4px; /* Bordes redondeados */
}
.sidebar::-webkit-scrollbar-track {
    background-color: #2e3a4d; /* Color del track */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        overflow-y: auto; /* Permite el scroll en pantallas pequeñas */
    }
    .sidebar.active {
        width: 100%;
    }
}



.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width:250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo{
    color:#fff;
    display: flex;
    height: 50px;

    align-items: justify;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}



.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}



.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    padding: 0.2rem;

 
   
     transition: transform 0.5s ease;
}

.sidebar ul li a:hover{
 transform: scale(1.1);
}

.sidebar ul li a i{
    min-width: 60px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
  display: none;
}



.sidebar.active ul li .tooltip{
    display: none;
}

.main-content{
    position: relative;
    background-color: #ffffff;
    min-height: 100vh;
    top: 0;
    left: 90px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.error{
    color: rgb(255, 12, 12);
    font-weight: bolder;
}





label{
    margin:0;
    padding:0;
    font-weight:bold;
    display: block;
}

.form{
    border:none;
    outline:none;
    position: absolute;
    height:40px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 70px;
    left: 90px;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}






.limitado1{
    width: 200px;
    max-width: 200px;
}


.table_button {
    border: none;
    background-color: #00796b;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}

.table_button:hover {
    background-color: #105e55;

}



.paginacion a:hover {
    background-color: rgb(35, 82, 223);
    transform: scale(1.1);
    color: white;
}

.seleccionado a {
    background-color: rgb(248, 5, 5);
    color: white;
}



tr:nth-child(even){
    background: #b6e0e5;
}

H4{
    color: red;
}

.no_style{
    border: none;
    background: #fff;
    border-bottom: #fff;
}

select {
    width: 100%;
    height: 30px;
}
.materias_container {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.lista {
    padding: 0.2rem;
    cursor: pointer;
    transition: .5s ease all;
}
.lista:nth-child(odd) {
    background-color: rgb(219, 219, 219);
}
/* No aplica fondo a los elementos pares */

.lista:hover {
    background-color: #058671;
    color: white;
}