*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva;
}
.user-img{
    width: 70px;
    border-radius: 100px;
    border: 1px solid #eee;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 1000%;
    width: 95px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width:250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}

.top .logo .bxs-institution{
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity:0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 95%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i{
    min-width: 60px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content{
    position: relative;
    background-color: #ffffff;
    min-height: 100vh;
    top: 0;
    left: 90px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.error{
    color: rgb(255, 12, 12);
    font-weight: bolder;
}

.formulario{
    box-sizing:border-box;
    position:absolute;
    left: 30%;
    top: 35%;
    transform: translate(-50%,-50%);
    padding-left: 50px;
    padding-top: 7px;
    box-sizing: border-box;
    width: 370px;
    z-index: 4000;
}

.formulario__input {
    width: 100%;
    background: white;
    border:none;
    border:3px solid transparent;
    border-radius: 3px;
    height: 30px;
    line-height: 45px;
    padding:0 0 0 15px;
    transition: .3s ease all;
}

.formulario__input:focus{
    border:3px solid #12171e;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.pantalla{
    background-color:rgba(215,215,215);
    color:black;
    border:2px solid black;
    padding:15px;
    position: relative;
    left: 230px;
    top: 50px;
    z-index: 4000; 
}

label{
    margin:0;
    padding:0;
    font-weight:bold;
    display: block;
}

.form{
    border:none;
    outline:none;
    position: absolute;
    height:40px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 70px;
    left: 90px;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}

input[type=button]:hover{
    background-color: rgb(89, 131, 255);
    transform: scale(1.1);
}

input[type=button]:active{
    background:#3360a3;
}




.limitado1{
    width: 200px;
    max-width: 200px;
}


.table_button {
    border: none;
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}

.table_button:hover {
    background-color: rgb(89, 131, 255);
    transform: scale(1.1);
}




.paginacion a:hover {
    background-color: rgb(35, 82, 223);
    transform: scale(1.1);
    color: white;
}

.seleccionado a {
    background-color: rgb(248, 5, 5);
    color: white;
}


tr:nth-child(even){
    background: #ddd;
}

H4{
    color: red;
}

.no_style{
    border: none;
    background: #fff;
    border-bottom: #fff;
}

select {
    width: 100%;
    height: 30px;
}
.materias_container {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    height: 100px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.lista {
    cursor: pointer;
    transition: .5s ease all;
}
.lista:hover {
    background-color: rgb(60, 87, 236);
    color: white;
}