*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva;
}
.user-img{
    width: 70px;
    border-radius: 100px;
    border: 1px solid #eee;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 1000%;
    width: 95px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width:250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}

.top .logo .bxs-institution{
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}


.main-content{
    position: relative;
    background-color: #ffffff;
    min-height: 100vh;
    top: 0;
    left: 90px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.error{
    color: rgb(255, 12, 12);
    font-weight: bolder;
}






label{
    margin:0;
    padding:0;
    font-weight:bold;
    display: block;
}

.form{
    border:none;
    outline:none;
    position: absolute;
    height:40px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 70px;
    left: 90px;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}






.limitado1{
    width: 120px;
    max-width: 120px;
    word-wrap: break-word;
}



.table_button {
    border: none;
    background-color: #00796b;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s ease;
}

.table_button:hover {
    background-color: #105e55;

}



.paginacion {
    background: rgb(212,212,212);
    background: linear-gradient(0deg, rgba(212,212,212,1) 0%, rgba(200,200,200,0.908000700280112) 42%);
    padding: 8px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.seleccionado {
    background-color: rgb(35, 82, 223);
    color: white;
}
.paginacion a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px;
    transition: all .5s ease;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.paginacion a:hover {
    background-color: rgb(35, 82, 223);
    transform: scale(1.1);
    color:white;
}


H4{
    color: red;
}

