.container_horario {
    position: absolute;
    display: none;
    grid-template-columns: 250px 250px 250px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(220, 220,220);
    padding: 20px;
}


.tabla_horario {
    position: absolute;
    
    display: none;
    grid-template-columns: 130px 200px 200px 200px 200px 200px;
    top: 98%;
    left: 50%;
    height: 1350px;
    transform: translate(-50%,-50%);
    background-color: rgb(220, 220,220);
    gap: .2px;
}
.registrar_materia {
    width: 300px;
    height: auto;
    background-color: rgb(220, 220, 220);
    position: fixed;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.registrar_materia button {
    text-align: center;
    border: none;
    margin-top: 10px;
    height: 30px;
    width: 90px;
    font-size: 19px;
    color: white;
    background-color: #058671;
    transition: .5s all ease;
    cursor: pointer;
}
.button_crear {
    text-align: center;
    
    padding: 0.5rem;
  
    margin: 1rem;
    color: white;
    background-color: #058671;
    transition: .5s all ease;
    cursor: pointer;
}
.cerrar {
    border: none;
    background-color: rgb(247, 74, 94);
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 25px;
    top: 0px;
    left: 270px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    transition: .5s all ease;
}
.cerrar:hover {
    background-color: rgb(247, 44, 68);
}
.guardar {


   
    background-color: #058671;
 
}

.tabla {
    display: grid;
    grid-template-columns: 150px 150px 150px 130px 130px 200px;
    position: absolute;
    top: 90px;
    left: 320px;
    padding: 10px;
    border-collapse: collapse;
}
.tabla button {
    cursor: pointer;
    background-color: #058671;
    border: none;
    font-size: 18px;
    color: white;
    height: 30px;
    margin-top: 5px;
    width: 120px;
    border-radius: 5px;
    margin-left: 15px;
    transition: .5s ease all;
}
.tabla button:hover {
    background-color: rgb(79, 167, 255);
}
.tabla div {
    border: 1px solid;
    padding: 5px;
    height: 40px;
}

.volver {
 
    background-color: #dd2f04;

}
.registrar_materia button:hover, .guardar:hover, .volver:hover, .button_crear:hover {
    background-color: rgb(2, 101, 199);
}
.titulos {
    background-color:rgb(74, 96, 219);
    border: 1px solid black;
    height: 30px;
    text-align: center;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.tabla_horario div {
    border: 1px solid black;
    height: 90px;
    background-color: rgb(230, 230, 230);
    transition: .5s all ease;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}
.contend {
    overflow: auto;
}

.tabla_horario .hora {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    line-height: 90px;
    height: 90px;
    background-color: rgb(230, 230, 230);
    transition: .5s all ease;
    font-size: 22px;
    text-align: center;
}

.tabla_horario .break {
    border: 1px solid black;
    height: 60px;
    background-color: rgb(230, 230, 230);
    transition: .5s all ease;
    font-size: 40px;
    text-align: center;
    grid-column: 1/7;
    background-color:rgb(133, 96, 214);
    color: white;
}
.tabla_horario div:hover {
    background-color: rgb(194, 193, 193);
}
select {
    height: 25px;
    width: 90%;
}
.input_container {
    margin-top: 20px;
} 
p {
    grid-column: 1/4;
}
h2 {
    grid-column: 2/3;
}
.container_horario button {
    grid-column: 2/3;
    border: none;
    margin-top: 30px;
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: #058671;
    transition: .5s all ease;
    cursor: pointer;
}
.container_horario button:hover {
    background-color: rgb(2, 101, 199);
}