:root {
    /* Definir los colores */
    --color-primary: #058671;  /* Verde oscuro */
    --color-secondary: #00796b;  /* Verde */
    --color-tertiary: #7fccc3;  /* Fondo claro */
    --color-highlight: #b6e0e5;  /* Azul verdoso */
    --color--active:#5f7577;
    --filtroPrimario: brightness(0) saturate(100%) invert(18%) sepia(86%) saturate(4958%) hue-rotate(168deg) brightness(94%) contrast(101%);
    --filtroSecundario:filter: brightness(0) saturate(100%) invert(87%) sepia(79%) saturate(292%) hue-rotate(161deg) brightness(93%) contrast(93%);
    --color-background: #e0f2f1;  /* Fondo claro */
    --color-text: #ffffff;  /* Texto blanco */
    --color-text-dark: #004d40;  /* Texto verde oscuro */
}

@keyframes hoverAnimation {
    0% {
        background-color: var(--color-tertiary);
        transform: scale(1);
    }
    50% {
        background-color: var(--color-secondary);
        transform: scale(1.1);
    }
    100% {
        background-color: var(--color-secondary);
        transform: scale(1.5);
    }
}

/* Estilos generales */



.filtro-verde  {
    filter: var(  --filtroPrimario);
    cursor: pointer;
    transition: 0.5s; /* Aplicar transición al img también si es necesario */
}
.filtro-verde:hover{
    transform: scale(1.1);
}

thead {
    background-color: var(--color-highlight);
    color: black;
    text-align: center;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    padding: 1rem;
    border-radius: 2px;
    border-color: transparent;
}

.fl-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    min-width: 600px;
}

.fl-table th, .fl-table td {
    text-align: center;
    padding: 12px 15px;
    background: transparent;
}

.fl-table thead td {
    background-color: var(--color-primary);
    color: var(--color-text);
    text-transform: uppercase;
}

.fl-table tbody tr:nth-of-type(even) {
    background-color: var(--color-highlight);
}

.table_button {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}


.table_button:hover {
    background-color: var(--color-secondary);
}

.desactivar {
    background-color: #e57373;  /* Color rojo */
    color: var(--color-text);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
}

.desactivar:hover {
    transform: scale(1.1);
}

.activar {
    background-color: var(--color--active); 
    color: var(--color-text);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
}

.activar:hover {
    transform: scale(1.1);
}


.paginacion {
  
    padding: 8px;
    border-radius: 8px;
    max-width: 100%;
    text-align: center;
    margin: 20px auto; /* Centramos con auto */
}




.paginacion a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 4px;
    transition: all 0.5s ease;
}

.paginacion a:not(.seleccionado):hover {
    animation: hoverAnimation 0.5s forwards;
}

.paginacion a.seleccionado {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.formulario__input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

/* Estilos para manejar texto largo en celdas */
.fl-table td.long-text {
    white-space: pre-wrap; /* Mantiene los saltos de línea */
    word-wrap: break-word; /* Rompe palabras largas */
    max-width: 200px; /* Ajusta según tus necesidades */
    text-align: left; /* Alinea el texto a la izquierda para mejor legibilidad */
}